.dogsStickers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.imagen{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen img{
    width: 80%;
    border-radius: 50%;
    border: double 8px transparent;
    background-image: 
        linear-gradient(#1d2a3a, #1d2a3a),
        linear-gradient(to right, #d78eca, #98a3fb);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.imagen input{
    color: white;
    font-size: larger;
    margin-top: 5%;
    border-radius: 10%;
    border: double 2px transparent;
    background-image: 
        linear-gradient(#1d2a3a, #1d2a3a),
        linear-gradient(to right, #d78eca, #98a3fb);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.dogsStickersHijo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perrosPadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    color: white;
    font-size: larger;
    font-weight: bolder;
    padding: 5%;
    background: 
    linear-gradient(to right, #d78eca, #98a3fb);;
}
.h3{
    margin-top: 5%;
}
.resultado{
    display: flex;
    flex-direction: column;
}